<!-- <app-map-view></app-map-view> -->
<section class="maps">
  <div id="map" #mapDiv></div>
  <button (click)="onFetchingData()">Fetch data</button>
  <div>
    <input
      type="text"
      placeholder="Enter Longitud"
      [(ngModel)]="circularAreaLongitud"
    />
    <input
      type="text"
      placeholder="Enter Latitud"
      [(ngModel)]="circularAreaLatitud"
    />
    <input
      type="text"
      placeholder="Enter Radius in meters"
      [(ngModel)]="circularAreaRadius"
    />
    <button (click)="onCreateCircleArea()">Create circular area</button>
  </div>
</section>
